<div class="container">
  <div class="clearfix mt-4">
    <h3 class="float-left">Translations Page({{this.language}} - {{this.namespace}})&nbsp;
      <button *ngIf="language === 'en'" type="button" class="btn btn-primary btn-sm" (click)="isCollapsed = !isCollapsed">New Translation</button>
    </h3>

    <div class="float-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Switch Language
        </button>
        <div class="dropdown-menu">
          <div *ngFor="let item of languages">
            <a *ngIf="item !== language" [routerLink]="'/dashboard/translation/' + item + '/' + namespace" class="dropdown-item">{{item}}</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <form *ngIf="language === 'en'" [collapse]="isCollapsed" [formGroup]="form" role="form" autocomplete="off" (submit)="addEntry($event)">
    <div class="form-group row">
      <label for="key" class="col-sm-2 col-form-label">Key</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="key" formControlName="key" required>
        <div class="text-danger" *ngIf="form.controls['key'].hasError('required') && (form.controls['key'].dirty || form.controls['key'].touched)">
          Key is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="value" class="col-sm-2 col-form-label">Value</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="value" formControlName="value" equired>
        <div class="text-danger" *ngIf="form.controls['value'].hasError('required') && (form.controls['value'].dirty || form.controls['value'].touched)">
          Value is required
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <button type="submit" class="btn btn-success float-right" [disabled]="!form.valid">Add</button>
    </div>
  </form>

  <div *ngFor="let key of keys" class="d-flex entry-item">
    <span class="key">
      {{key}}
    </span>
    <a class="text-primary btn-equal" (click)="resources[key] = key">
      <i class="fa fa-chevron-right"></i>
    </a>
    <span class="value">
      <input type="text" class="form-control" [(ngModel)]="resources[key]" />
    </span>

    <a class="action" *ngIf="resources[key] === oldResources[key]" title="Up to date">
      <i class="fa fa-check text-success"></i>
    </a>

    <a class="action action-save" *ngIf="resources[key] !== oldResources[key]" (click)="updateEntry(key)">
      <i class="fa fa-exclamation-triangle text-danger" title="Modified"></i>
      <i class="fa fa-save text-success" title="Save Changes"></i>
    </a>

    <div *ngIf="language === 'en'" class="btn-group  btn-action-group" dropdown placement="bottom right">
      <button dropdownToggle type="button" class="btn btn-clear">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" (click)="openKeyModal(key, template)">
            <i class="fa fa-exchange"></i>&nbsp;Rename Key
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="deleteEntry(key)">
            <i class="fa fa-trash"></i>&nbsp;Delete
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rename Key</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="keyForm" role="form" autocomplete="off" (submit)="updateKey($event)">
    <div class="modal-body">
      <div class="form-group row">
        <label for="key" class="col-sm-2 col-form-label">Key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="key" formControlName="key" required>
          <div class="text-danger" *ngIf="keyForm.controls['key'].hasError('required') && (keyForm.controls['key'].dirty || keyForm.controls['key'].touched)">
            Key is required
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success float-right" [disabled]="!keyForm.valid">Update</button>
    </div>
  </form>
</ng-template>