<div class="container">
  <h3 class="mt-4">Manage Languages and Namespaces
  </h3>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <button type="button" class="btn-add" (click)="showLanguageForm(languageTemplate)">
        <span class="icon">
          <i class="fa fa-language"></i>
        </span>
        <span class="text">Add New Language</span>
        <span class="icon right">
          <i class="fa fa-plus-circle"></i>
        </span>
      </button>
    </div>
    <div class="col-sm-12 col-md-6">
      <button class="btn-add" (click)="showNamespaceForm(namespaceTemplate)">
        <span class="icon">
          <i class="fa fa-file-text-o"></i>
        </span>
        <span class="text">Add New Namespace</span>
        <span class="icon right">
          <i class="fa fa-plus-circle"></i>
        </span>
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let key of languages" class="col-sm-12 col-md-6 mt-3">
      <div class="language-detail">
        <div class="clearfix">
          <h4 class="float-left">{{key}}</h4>
          <span class="text-primary float-right" *ngIf="key === 'en'">(Reference Lanuage)</span>
        </div>

        <div *ngFor="let item of detail[key]" class="d-flex">
          <span>{{item.namespace}}</span>
          <span role="button" class="ml-auto btn-edit-language" (click)="editLanguage(key, item.namespace)" title="Edit Language">
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #languageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Language</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="languageModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="languageForm" role="form" autocomplete="off" (submit)="addLanguage($event)">
    <div class="modal-body">
      <div class="form-group row">
        <label for="language" class="col-sm-2 col-form-label">Language</label>
        <div class="col-sm-10">
          <ng-select [items]="languageList" (selected)="onLanguageSelected($event)" placeholder="Select Language...">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary float-right" [disabled]="!languageForm.valid">Add</button>
    </div>
  </form>
</ng-template>

<ng-template #namespaceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Namespace</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="namespaceModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="namespaceForm" role="form" autocomplete="off" (submit)="addNamespace($event)">
    <div class="modal-body">
      <div class="form-group row">
        <label for="namespace" class="col-sm-3 col-form-label">Namespace</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="namespace" formControlName="namespace" placeholder="Namespace" autofocus />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary float-right" [disabled]="!namespaceForm.valid">Add</button>
    </div>
  </form>
</ng-template>